
/* Header */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
}
/* Logo */
.logo {
    float: left;
    padding: 8px 0;
    height: 35px;
    width: 35px;
}

/* Navigation */
nav ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    padding: 8px 16px;
    text-decoration: none;
    color: #000;
}