/* Logo */
.logo {
    float: left;
    padding: 8px 0;
    height: 35px;
    width: 35px;
}

/* Navigation */
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul li a {
    display: block;
    padding: 8px 16px;
    text-decoration: none;
}